<ion-header>
  <ion-toolbar>
    <ion-title>changepassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
        <form [formGroup]="myform">
        <ion-item>
          <ion-label position="floating">Old Password:</ion-label>
          <ion-input formControlName="oldpass" id="oldpass" type="text" [(ngModel)]="oldpass"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">New Password:</ion-label>
          <ion-input formControlName="newpass" id="newpass" type="text" [(ngModel)]="newpass"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password:</ion-label>
          <ion-input formControlName="confpass" id="confpass" type="text" [(ngModel)]="confpass"></ion-input>
        </ion-item>
        <ion-button expand="block" color="primary" (click)="ChangePassword()">
          Save Changes
        </ion-button>
      </form>
</ion-content>
