<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="backClick()"></ion-back-button>
        </ion-buttons>

        <ion-title>Transaction Status</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header>
            <div style="display: flex;justify-content: center;">
                <ion-icon name="close" style="font-size:80px;color:red"></ion-icon>
            </div>
        </ion-card-header>

        <ion-card-content style="text-align: center">
            Transaction Failed.
        </ion-card-content>
    </ion-card>


</ion-content>