<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="payment-details-add"></ion-back-button>
      </ion-buttons>
     
      <ion-title>Transaction Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card >
        <ion-card-header>
            <ion-icon name="close" style="font-size:80px;margin-left:70px;"></ion-icon>
        </ion-card-header>

        <ion-card-content style="margin-left:20px;">
            Transaction Failed.
        </ion-card-content>
    </ion-card>


</ion-content>
