<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My Vehicles</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openModel()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-searchbar showCancelButton placeholder="Search Vehicle" (ionInput)="getItems($event)">
    </ion-searchbar>
    <ion-item [hidden]="!showList">
        <ion-label>Please add a new Vehicle!</ion-label>
    </ion-item>
    <ion-list [hidden]="showList">
        <ion-list-header>
            List of Vehicles
        </ion-list-header>
        <ion-item-sliding *ngFor="let item of vehicles">
            <ion-item>
                <ion-avatar item-start>
                    <span style="font-size: 24px;" *ngIf="item.vehicle_type_id=='2'">
                        <i class="fas fa-car"></i>
                    </span>
                    <ion-icon name="bus" size="large" *ngIf="item.vehicle_type_id=='1'"></ion-icon>
                    <span style="font-size: 24px;" *ngIf="item.vehicle_type_id=='3'">
                        <i class="fas fa-truck" size="large"></i>
                    </span>
                    <span style="font-size: 24px;" *ngIf="item.vehicle_type_id=='4'">
                        <i class="fas fa-motorcycle"></i>
                    </span>
                    <span style="font-size: 24px;" *ngIf="item.vehicle_type_id=='5'">
                        <i class="fas fa-truck-monster"></i>
                    </span>
                </ion-avatar>
                <p>
                    Vehicle No: {{item.vehicle_no}}
                    <br /> Vehicle Type: {{item.vehicle_type_name}}
                    <!-- <ion-label>{{item.vehicle_type_name}}</ion-label> -->
                </p>
            </ion-item>
            <!-- <ion-item-options>
                <button ion-button color="danger" icon-start (click)="deleteVehicle(item.vehicle_no)">
                    <ion-icon color="danger" name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options> -->
        </ion-item-sliding>
    </ion-list>
</ion-content>