#a {border-collapse:collapse; table-layout:fixed; width:370px;}


#a td
{
    border:solid 1px black; width:150px; word-wrap:break-word;

}
#a tr
{
    border:solid 1px black;

}
#a th
{
    border:solid 1px black;

}

