<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>Forget Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="forgetForm">
        <ion-item>
            <ion-input type="email" formControlName="email" required placeholder="Enter a Registed Mail" [(ngModel)]="email">
            </ion-input>
            <ion-button (click)="send()" [disabled]="!forgetForm.valid">
                Send
                <ion-icon name="paper-plane"></ion-icon>
            </ion-button>
        </ion-item>
    </form>
</ion-content>