<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-back-button defaultHref="payment-method"></ion-back-button> -->
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My Cards</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item [hidden]="!showList">
        <ion-label>Please add a new Vehicle!</ion-label>
    </ion-item>
    <ion-list [hidden]="showList">
        <ion-list-header>
            List of Saved Cards
        </ion-list-header>
        <ion-item-sliding *ngFor="let item of payment_methods">
            <ion-item>
                <table>
                    <tr>
                        <td>
                            <p style="color:black;font-size:15px;">Card Holder Name - {{item.user_name}}</p>
                            <p style="color:rgb(119, 116, 116);font-size:13px">Card No - {{item.card_no}}</p>
                            <p style="color:rgb(119, 116, 116);font-size:13px">Card Name - {{item.card_name}}
                            </p>
                            <p style="color:rgb(119, 116, 116);font-size:13px">Expiry Date - {{item.expiry_month}}/{{item.expiry_year}}
                            </p>
                        </td>

                    </tr>
                </table>
            </ion-item>
            <!-- <ion-item-options>
                <button ion-button color="danger" icon-start (click)="onDeleteCard(item.payment_id)">
                    <ion-icon color="danger" name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options> -->
        </ion-item-sliding>
    </ion-list>
</ion-content>