<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="select-toll-plaza"></ion-back-button>
        </ion-buttons>
        <ion-title>Add Vehicle Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-list-header><b>Select Vehicle</b></ion-list-header>
        <ion-item>
            <ion-label>Past Vehicle Number </ion-label>
            <ion-select value="brown" (ionChange)="change()" [(ngModel)]="vehicleno" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="{{item.vehicle_no}}" *ngFor="let item of vehicle">{{item.vehicle_no}}
                </ion-select-option>
            </ion-select>
        </ion-item>

    </ion-list>

    <ion-item>
        <ion-label position="floating">Add New Vehicle Number</ion-label>
        <ion-input [(ngModel)]="tmp_vno"  (click)="onAdd1()" readonly ></ion-input>
    </ion-item>
    

    <br />
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />

    <ion-button style="position:fixed;width:100%;bottom:0;left:0" (click)="getVehicleNo()" expand="full" [disabled]="vno==''" >Next</ion-button>



</ion-content>
