<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Past Payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of user_transaction">
    <ion-card-header>
      <ion-card-title>{{item.city}}</ion-card-title>
      <ion-card-subtitle>{{item.transaction_date}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Total Amount Paid: {{item.amount | currency:'INR'}}</ion-label><br>
      <ion-label>Vehicle No: {{item.vehicle_no}}</ion-label><br>
      <ion-label *ngIf="item.isreturn==0">Single Journey</ion-label><br>
      <ion-label *ngIf="item.isreturn==1">Return Journey</ion-label><br>
      <ion-button expand="full">Mail Receipt <ion-icon name="send" slot="end"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>