<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item>
                            <img src="../assets/logoEToll.png">
                        </ion-item>
                        <!-- <h2>{{user_name}}</h2> -->
                        <ion-item [routerDirection]="'root'" [routerLink]="['/home']">
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>
                                Home
                            </ion-label>
                        </ion-item>

                        <ion-item [routerDirection]="'root'" [routerLink]="['/my-vehicles']">
                            <ion-icon slot="start" name="car"></ion-icon>
                            <ion-label>
                                My Vehicles
                            </ion-label>
                        </ion-item>

                        <ion-item [routerDirection]="'root'" [routerLink]="['/past-payments']">
                            <ion-icon slot="start" name="pricetags"></ion-icon>
                            <ion-label>
                                Past Payments
                            </ion-label>
                        </ion-item>

                        <ion-item [routerDirection]="'root'" [routerLink]="['/payment-options']">
                            <ion-icon slot="start" name="wallet"></ion-icon>
                            <ion-label>
                                Payment Options
                            </ion-label>
                        </ion-item>

                        <ion-item [routerDirection]="'root'" [routerLink]="['/my-profile']">
                            <ion-icon slot="start" name="Person"></ion-icon>
                            <ion-label>
                                My Profile
                            </ion-label>
                        </ion-item>

                        <ion-item (click)="onLogout()">
                            <ion-icon slot="start" name="power"></ion-icon>
                            <ion-label>
                                Sign Out
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>