<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="myform">
  <br><br><br>
  <ion-list>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-input formControlName="name" type="text" id="name" [(ngModel)]="name" placeholder="Enter Name"></ion-input>
    </ion-item>
    <br>
    <div *ngIf="!myform.controls.name.valid &&
       myform.controls.name.dirty" style="color:red;">
      Please Enter a Valid Name.
    </div>
    <ion-item>
      <ion-icon name="mail" item-start></ion-icon>
      <ion-input  placeholder="Enter Email ID" formControlName="email" type="text" id="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <br>
    <div *ngIf="!myform.controls.email.valid &&
      myform.controls.email.dirty"  style="color:red;" >
      Please Enter a Valid Email.
    </div>
    <ion-item>
      <ion-icon name="lock" item-start></ion-icon>
      <ion-input placeholder="Enter Password" formControlName="password1" type="password" id="password1" [(ngModel)]="password1"></ion-input>
    </ion-item>
    <br>
    <div *ngIf="!myform.controls.password1.valid &&
      myform.controls.password1.dirty"  style="color:red;">
      Please Enter a Valid Password
      <br>Minmum 6 Charactor
      <br>One Special Charactor
      <br>One Digit

    </div>
    <ion-item>
      <ion-icon name="call" item-start></ion-icon>
      <ion-input  placeholder="Enter Contact No" formControlName="contact1" type="text" id="contact1" [(ngModel)]="contact1"></ion-input>
    </ion-item>
    
    <br>
    <div *ngIf="!myform.controls.contact1.valid &&
      myform.controls.contact1.dirty"  style="color:red;">
      Please Enter Number Only
    </div>
  </ion-list>
  <ion-button expand="full" color="tertiary" [disabled]="!myform.valid" (click)="onsignup()">Create Account
    <ion-icon slot="end" name="arrow-round-forward" ></ion-icon>
  </ion-button>
  </form>
</ion-content>