<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br><br><br>
  <ion-list>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-input type="text" placeholder="Enter Username" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" item-start></ion-icon>
      <ion-input type="text" placeholder="Enter Email ID" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock" item-start></ion-icon>
      <ion-input type="password" placeholder="Enter Password" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="call" item-start></ion-icon>
      <ion-input type="tel" placeholder="Enter Contact No" name="email" required></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" color="tertiary">Create Account
    <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
  </ion-button>
</ion-content>