<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button  defaultHref="confirm-payment"></ion-back-button>
        </ion-buttons>
        <ion-title>Transaction Status</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header>
            <div style="display: flex;justify-content: center;">
                <ion-icon name="checkmark-circle" style="font-size:80px;margin:0 auto;color:green"></ion-icon>
            </div>
        </ion-card-header>

        <ion-card-content style="text-align:center">
            Transaction successfully done.<br> Receipt has been mailed to you.
        </ion-card-content>
    </ion-card>
</ion-content>